body{
    display: flex;
    position: relative;
    background-blend-mode: darken;

}
 
body::before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
      background-image: url("../images/back.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: blur(17px);
    transform: scale(1.1);
    z-index: -1;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    position: absolute;
    margin-left: 50px;
    margin-top: 0px;
    width: 100%;
}

.add-notes{
    display: flex;
    align-items:center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 50px;
    position:absolute;
    margin-left: 700px;
    margin-top: 700px;
    backdrop-filter: blur(17px);
    width:700px;
    height: 500px;
}
.welcome{
     font-size: 40px;
    color: rgb(37, 59, 54);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    margin-left: 50px;
    margin-top: 450px;
}

.add{
    font-size:42px;
    color:rgba(201, 124, 61, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    margin-left: 50px;
    margin-top: -200px;
}

input[type="title"],
input[type="content"]{
    padding: 14px 20px;
    width: 300px; 
    height: 20px;
}