

header{
    display: flex;
    height: 720px;
    position: relative;
}



.details{
    font-size: 40px;
    color: rgb(37, 59, 54);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    position: absolute;
    margin-left: 50px;
    margin-top: 400px;
}

.getstarted{
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 50px;
    position:absolute;
    margin-left: 700px;
    margin-top: 0px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 80px;
    width: 200px;
    transition: all 0.3s ease;
    background-color: rgba(66, 92, 36, 0.8);
}   

.getstarted:hover{
    background-color: rgba(66, 92, 36, 1);
    transform: scale(1.05);
    box-shadow: 6px 8px 12px rgba(4, 9, 15, 1);
}

.getstarted:active{
    background-color: rgb(13, 15, 9);
    transform: scale(0.95);
    box-shadow: 2px 4px 6px rgba(4, 9, 15, 1);
    cursor:grab;
}

.first{
    display: flex;
    width: 900px;
    height: 1200px;
   /* border: 3px solid rgba(9, 18, 27, 0.8);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    */
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    margin-left: 200px;
    margin-top: 100px;
}

h2{
    font-size: 70px;
    color: rgba(137, 86, 185, 0.8);
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
    margin-left: 250px;
    margin-top: 50px;
}

section{
    width: 90%;
    height: 1350px;
    border: 3px solid rgba(255, 253, 251, 0.8);
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    margin-left:100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signin{
     display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 50px;
    position:absolute;
    margin-left: 700px;
    margin-top: 10px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 80px;
    width: 200px;
    transition: all 0.3s ease;
    background-color: rgba(201, 124, 61, 0.8);
}

.signin:hover{
    background-color: rgb(230, 111, 15);
    transform: scale(1.05);
    box-shadow: 6px 8px 12px rgba(4, 9, 15, 1);
}

.signin:active{
    background-color: rgb(13, 15, 9);
    transform: scale(0.95);
    box-shadow: 2px 4px 6px rgba(4, 9, 15, 1);
    cursor:grab;
}

.signup{
      display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 50px;
    position:absolute;
    margin-left: 700px;
    margin-top: 90px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 80px;
    width: 200px;
    transition: all 0.3s ease;
    background-color: rgba(66, 142, 212, 0.8);
}

.signup:hover{
    background-color: rgb(23, 108, 187);
    transform: scale(1.05);
    box-shadow: 6px 8px 12px rgba(4, 9, 15, 1);
}

.signup:active{
    background-color: rgb(5, 52, 107);
    transform: scale(0.95);
    box-shadow: 2px 4px 6px rgba(4, 9, 15, 1);
    cursor:grab;
}

.courses{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 500px;
    height: 240px;
    border: 4px solid rgba(22, 21, 21,0.7);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    background-color: rgba(50, 56, 43, 0.8);
    position:absolute;
    margin-left: 480px;
    margin-top: 200px;
    font-size: xx-large;
}

.selector{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position:absolute;
    border: 5px solid rgba(9, 18, 27, 0.8);
    box-shadow: inset;
    margin-left: 50px;
    margin-top:-40px;
    background-color: rgba(50, 56, 43, 0.8);
    color: rgb(212, 229, 135);
}
  .course-h1{
    position: absolute;
    margin-top: -130px;
    margin-left: 400px;
    font-size: 40px;
    color:rgb(113, 172, 199);
    padding-top: -100px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    width: 700px;
  }

  .view-courses{
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 20px;
    position:absolute;
    margin-left: 70px;
    margin-top: 120px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 40px;
    width: 160px;
    transition: all 0.3s ease;
    background-color: rgba(66, 92, 36, 0.8);
  }

  .preview{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 600px;
    position:absolute;
    margin-top:900px;
    margin-left: 100px;
    border:3px solid rgba(9, 18, 27, 0.8);
    padding:0;
    background-color: rgba(60, 61, 15, 0.973);
    color: rgba(235, 227, 227, 0.8);
    font-size: 40px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

  }
  .course_preview{
    position:absolute;
    margin-top: 20px;
  }
  .course_description{
    position:absolute;
    margin-top: 130px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    text-align: justify;
  }