html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


.title{
    font-size: 120px;
    color: rgba(103, 73, 116, 0.664);
    text-shadow: 4px 8px 12px rgba(0, 0, 0, 0.8);
    margin-top: -20px;
    
}

.logo{
    display: flex;
    align-items: center;
    border:6px solid rgba(12, 78, 67, 0.8);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 280px;
    width: 330px;
    transition: all 0.3s ease;
}
