body{
    background-image: url("../images/vcl.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome{

     font-size: 40px;
    color: rgb(37, 59, 54);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.sign_in{
    font-size:42px;
    color:rgba(201, 124, 61, 0.8);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
input[type="email"],
input[type="password"] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 14px 20px;
    max-width: 300px; 
    max-height: 20px;
}

.signin-section{
   
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border:3px solid rgba(9, 18, 27, 0.014);
    border-radius: 50px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    max-height: 400px;
    max-width:  800px;
    transition: all 0.3s ease;
    background-color: rgba(235, 229, 145, 0.237);
    color: rgb(37, 59, 54);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;

}

.signin-button{
     display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid rgba(9, 18, 27, 0.8);
    border-radius: 50px;
    position:absolute;
    margin-left: 150px;
    margin-top: 20px;
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    box-shadow: 4px 6px 10px rgba(4, 9, 15, 0.8);
    height: 80px;
    width: 200px;
    transition: all 0.3s ease;
    background-color: rgba(201, 124, 61, 0.8);
}

.signin-button:hover{
    background-color: rgb(230, 111, 15);
    transform: scale(1.05);
    box-shadow: 6px 8px 12px rgba(4, 9, 15, 1);
}

.signin-button:active{
    background-color: rgb(13, 15, 9);
    transform: scale(0.95);
    box-shadow: 2px 4px 6px rgba(4, 9, 15, 1);
    cursor:grab;
}
